{{!-- <div class="row"> --}}
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h2><a href="{{post.url}}" class="lead">{{post.title}}</a></h2>
    <p>by: [{{post.author.username}}]</p>
    <p>{{post.summary}}</p>
  </div>

  {{!-- COMMENT FORM --}}
  <form action="/post/{{post._id}}/comments" method="post">
    <textarea class='form-control' name="content" placeholder="Comment"></textarea>
    {{!-- <br> --}}
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>

  {{!-- COMMENT DISPLAY --}}
  <div class="comments">
    {{#each post.comments}}
      {{> comment comment=this postId=../post._id}}
      {{!-- <p>{{this.content}}</p>
      <p class="text-right">{{this.author.username}}</p>
      <a href="/post/{{../post._id}}/comments/{{this._id}}/replies/new">reply</a> --}}
    {{/each}}
  </div>
{{!-- </div> --}}
</div>