{{!-- <div class="row"> --}}
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h2><a href="{{post.url}}" class="lead">{{post.title}}</a></h2>
    <p>by: [{{post.author.username}}]</p>
    <p>{{post.summary}}</p>
  </div>

  {{!-- COMMENT FORM --}}
  <form action="/post/{{post._id}}/comments" method="post">
    <textarea class='form-control' name="content" placeholder="Comment"></textarea>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>

  {{!-- COMMENT DISPLAY --}}
  <div class="comments">
    {{#each post.comments}}
      <p>{{this.content}}</p>
    {{/each}}
  </div>
{{!-- </div> --}}
</div>