<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul>
            {{#each posts}}
                <li class="list-group-item">
                    <div class="lead">
                        <a href="/post/{{this._id}}" >{{this.title}}</a>
                    </div>
                    <a href="{{this.url}}" target="_blank">{{this.url}}</a>
                    <div><small>by: {{this.author.username}}</small></div>
                    <div class="text-right">
                        <a href="/n/{{this.subreddit}}">{{this.subreddit}}</a>
                    </div>
                    <div class="voting">
                        <form class="vote-up" data-id="{{this._id}}">
                            <button type="submit"><img src="upvote.jpeg" class="vote"/></button>
                        </form>
                        <form class="vote-down" data-id="{{this._id}}">
                            <button type="submit"><img src="downvote.jpeg" class="vote"/></button>
                        </form>
                    </div>
                </li>
            {{/each}}
        </ul>
        <style>
        .vote {
            height: 15px;
            width: 15px;
        }
        .voting {
            margin-left: 90%;
        }
        </style>
    </div>
</div>